@model IEnumerable<SIMS.Users>

@{
    ViewData["Title"] = "Index";
}

<h1>User Account</h1>

<p>
    <form asp-controller="Users" asp-action="Create" class="form-inline">
        <button type ="submit" class="btn btn-info">Create User</button>
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>User Name</th>
            <th>Password</th>
            <th>User Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.UserName</td>
                <td>@item.Pass</td>         
                <td>@item.UserRole</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex justify-content-end">
    <form asp-controller="Users" asp-action="Import" class="form-inline">
        <button type="submit" class="btn btn-info">Import Data</button>
    </form>
    <form asp-controller="Users" asp-action="Export" class="form-inline mx-2">
        <button type="submit" class="btn btn-info">Export Data</button>
    </form>

</div>
<div>
    <form asp-controller="Admin" asp-action="Home" method="post" class="form-inline">
        <button type="submit" class="btn bg-primary">Back to Home</button>
    </form>
</div>